/* Стиль для фиксированного заголовка */
.header {
    position: fixed; /* фиксированное позиционирование */
    top: 0; /* прикрепляем к верхней части страницы */
    left: 0; /* прикрепляем к левой части страницы */
    width: 100%; /* ширина на всю страницу */
    background-color: #f0f8ff; /* фон шапки */
    text-align: center; /* центрируем */
    padding: 5px 0; /* отступы сверху и снизу */
    font-size: 20px; /* размер постоянного заголовка */
    z-index: 1000; /* чтобы заголовок был выше других элементов */
}

/* Стиль для фиксированного подзаголовка */
.subheader {
    position: fixed; /* фиксированное позиционирование */
    top: 40px; /* смещение вниз на высоту заголовка */
    left: 0; /* прикрепляем к левой части страницы */
    width: 100%; /* ширина на всю страницу */
    background-color: #f0f8ff; /* фон подзаголовка */
    text-align: center; /* центрируем */
    padding: 5px 0; /* отступы сверху и снизу */
    font-size: 18px; /* размер подзаголовка */
    z-index: 999; /* чтобы подзаголовок был ниже заголовка */
}


main {
    padding-top: 80px; /* отступ от шапки, учитывающий высоту header и subheader */
}

body {
    background-color: #f0f8ff; /* Цвет фона для всего проекта */
    margin: 0; /* Убираем отступы по краям */
    font-family: Arial, sans-serif; /* Шрифт для всего текста */
}

/* Стиль для заголовков h1 в основном контенте */
main h1 {
    margin-top: 50px; /* отступ сверху, учитывающий высоту header и subheader */
    font-size: 20px; /* размер заголовка */
}

h1 {
    text-align: center; /* Центрируем заголовок */
    font-size: 2.5em; /* Размер шрифта заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

.container {
    width: 100%; /* Ширина контейнера на всю ширину экрана */
    padding: 20px; /* Отступы внутри контейнера */
    background-color: #f0f8ff; /* Белый фон для контейнера */
    border-radius: 5px; /* Закругленные углы контейнера */
}

.form-container {
    max-width: 500px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы */
    padding: 20px; /* Отступы внутри формы */
    background-color: #f0f8ff; /* Белый фон формы */
    border-radius: 5px; /* Закругленные углы формы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта */
}


/* Главная страница */
.array-container {
    max-width: 800px; /* Максимальная ширина контейнера массива */
    margin: 0 auto; /* Центрируем контейнер массива */
    padding: 20px; /* Отступы внутри контейнера массива */
}

.array-item {
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: space-between; /* Разделяем элементы по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
    padding: 10px 0; /* Отступы сверху и снизу */
    border-bottom: 1px solid #ddd; /* Разделительная линия между элементами */
}

.array-item:last-child {
    border-bottom: none; /* Убираем разделитель у последнего элемента */
}

.array-data {
    flex-grow: 1; /* Позволяем этому элементу занимать доступное пространство */
}

.edit-button {
    background-color: #e0e0e0; /* Цвет фона кнопки редактирования */
    color: black; /* Цвет текста кнопки редактирования */
    padding: 5px 10px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 3px; /* Закругленные углы кнопки */
    font-family: 'Roboto', sans-serif;

}


.edit-button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
    color: white;
}

.add-button {
    display: inline-block; /* Делаем кнопку блочным элементом */
    width: 96%; /* Полная ширина кнопки */
    padding: 10px; /* Отступы внутри кнопки */
    margin-top: 10px; /* Отступ сверху */
    background-color: #e0e0e0; /* Нейтральный цвет фона кнопки */
    color: black; /* Цвет текста кнопки - черный */
    border: none; /* Убираем рамку */
    text-decoration: none; /* Убираем подчеркивание текста */
    border-radius: 3px; /* Закругленные углы кнопки */
    font-size: 1em; /* Размер шрифта кнопки */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    font-family: 'Roboto', sans-serif; /* Устанавливаем шрифт Roboto для кнопки */
}


.add-button:hover {
    background-color: #4CAF50; /* Новый цвет фона при наведении - яркий зеленый */
    color: white; /* Цвет текста при наведении - белый для лучшего контраста */
}

.add-button-container {
    text-align: center; /* Центрирование содержимого */
    margin-top: 20px; /* Отступ сверху */
}

/* Редактирование */
.form-button {
    display: inline-block; /* Делаем кнопку блочным элементом */
    width: 100%; /* Полная ширина кнопки */
    padding: 10px; /* Отступы внутри кнопки */
    margin-top: 10px; /* Отступ сверху */
    background-color: #e0e0e0; /* Нейтральный цвет фона кнопки */
    color: black; /* Цвет текста кнопки - черный */
    border: none; /* Убираем рамку */
    border-radius: 3px; /* Закругленные углы кнопки */
    font-size: 1em; /* Размер шрифта кнопки */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    font-family: 'Roboto', sans-serif; /* Устанавливаем шрифт Roboto для кнопки */
}

.form-button:hover {
    background-color: #4CAF50; /* Новый цвет фона при наведении - яркий зеленый */
    color: white; /* Цвет текста при наведении - белый для лучшего контраста */
}

.form-input {
    width: 96%; /* Полная ширина поля ввода */
    padding: 10px; /* Отступы внутри поля ввода */
    margin-bottom: 15px; /* Отступ снизу */
    border: 1px solid #ccc; /* Цвет рамки поля ввода */
    border-radius: 3px; /* Закругленные углы поля ввода */
    font-size: 1em; /* Размер шрифта */
}

.form-input:focus {
    border-color: #007bff; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартный контур */
}

.flashes {
    margin-top: 20px; /* Отступ сверху для сообщений */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    text-align: center; /* Выравнивание текста по центру */
    font-family: 'Roboto', sans-serif; /* Устанавливаем шрифт Roboto */
}

.flashes li {
    margin-bottom: 10px; /* Отступы между сообщениями */
    font-size: 16px; /* Размер шрифта */
}

.success {
    color: green; /* Цвет текста для успешных сообщений - зеленый */
}

.error {
    color: red; /* Цвет текста для сообщений об ошибках - красный */
}

