header {
    position: fixed; /* фиксированное позиционирование */
    top: 0; /* прикрепляем к верхней части страницы */
    left: 0; /* прикрипляем к левой части страницы */
    width: 100%; /* ширина на всю страницу */
    background-color: white; /* фон шапки */
    text-align: center; /* центрируем */
    padding: 10px 0; /* отступы сверху и снизу */
    z-index: 1000; /* порядок наложения, чтобы шапка была выше других элементов */
}

h1 {
    font-size: 20px; /* размер заголовка */
    margin: 0; /* убрать отступы */
}

h2 {
    font-size: 16px; /* размер подзаголовка */
    margin: 0; /* убрать отступы */
}

main {
    padding-top: 80px; /* отступ от шапки */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* элементы по центру по горизонтали */
    justify-content: center; /*  элементы по центру по вертикали */
    margin: 0; /* убираем отступы */
    text-align: center; /* текст по центру */
}

ul {
    list-style-type: none; /* убираем маркеры списка */
    padding: 0; /* убираем отступы */
}

li {
    margin: 10px 0; /* отступы между элементами списка */
}