{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Добавление нового массива</h1>

    <form method="post" class="form-container">

        <input type="text" id="array" name="array" placeholder="Например: 1 2 3 4 5 " required class="form-input">

        <button type="submit" class="form-button">Добавить</button>

        <a href="{{ url_for('main_page') }}" style="display: block; text-align: center; margin-top: 20px;">Назад к списку</a>
    </form>

</div>
{% endblock %}
