<!doctype html>
<html lang="ru">

<head>
    <!-- Задаем метаданные и ссылки на внешние ресурсы -->
    <meta charset="UTF-8"> <!-- Кодировка -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Убраны ненужные параметры масштабирования -->

    <meta name="description" content="Лабораторная работа по дисциплине РПС № 3: Изучение реализации графических пользовательских интерфейсов и интеграции базы данных для веб-приложений.">
    <!-- Добавлен метатег описания -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Подключаем стили из main.css -->

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>RPS3</title>
    <!-- Заголовок в браузере -->
</head>

<body>
    <header>
        <h1 class="header">Лабораторная работа по дисциплине РПС № 3</h1>
        <h2 class="subheader">Изучение реализации графических пользовательских интерфейсов и интеграции базы данных для веб-приложений</h2>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
