<!doctype html>
<html lang="en">

<head>
    <!-- Задаем метаданные и ссылки на внешние ресурсы -->
    <meta charset="UTF-8"> <!-- Кодировка -->

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Задаем параметры отображения таблицы:
         width=device-width - ширина страницы равна ширине устройства
         user-scalable=no -  пользователь не может масштабировать страницу
         initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 - начальный, максимальный и минимальный масштаб страницы -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--Подключаем стили из main.css-->

    <title>RPS3</title>
    <!--Заголовок в браузере -->
</head>

<body>
    <header>
    <h1>Лабораторная работа по дисциплине РПС № 3</h1>
    <h2>Изучение реализации графических пользовательских интерфейсов и интеграции базы данных для веб-приложений</h2>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>