{% extends 'base.html' %}

{% block content %}
<h1>Список массивов</h1>

<ul>
    {% for array in arrays %}
        <li>
            {{ array.array_data | tojson }}  <!-- Используем tojson для корректного отображения массива -->
            <a href="{{ url_for('edit_array', index=array.id) }}">Редактировать</a>
        </li>
    {% else %}
        <li>Нет доступных массивов.</li>  <!-- Сообщение, если массивов нет -->
    {% endfor %}
</ul>

<a href="{{ url_for('add_array') }}">Добавить новый массив</a>  <!-- Используем url_for для генерации URL -->
{% endblock %}

